<div class='container login'>
  <div class='row'>
    <div class='col'>
      <h1>Add a New Restaurant</h1>
      <form action="/restaurant/new" method="POST">
        <input type="text" required name="name" placeholder="restaurant name">
        <br><br>
        <input type="text" required name="address" placeholder="restaurant address">
        <br><br>
        <input type="text" required name="category" placeholder="restaurant category">
        <br><br>
        <button type="submit">Submit</button>
      </form>
      <button><a href="/home">Home</button>
    </div>
  </div>
</div>
